 /* Popup container */

.js-popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popup {
  visibility: hidden;
  position: absolute;
  z-index: 1;
}

.popup::after {
  content: "";
  position: absolute;
}

@mixin circle() {
  padding: 7px;
  border-radius: 50%;
  box-shadow: 0 1.28px 8px rgba(31, 35, 40, 0.2);
}

.pop-icons {
  margin-left: 5px;
  &--footnote {
    margin: 3px;   
    @include circle;
  }
  &--serv {
    
  }
  &--more {
    /*@include circle;*/
  }
  &--processes {
    
  }
}

.unicode-plus::after { 
  content: '\002B'; 
}

.unicode-minus::after {   
  content: '\2212';
}

.unicode-arrow-down::after { 
  content: '\2193'; 
  font-size: 22px;
}

.unicode-arrow-up::after {   
  content: '\2191';
  font-size: 22px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

@mixin shadow() {
  box-shadow: 0 1.28px 8px rgba(31, 35, 40, 0.2);
}
.footnote-btn {   
  margin: 0;
  font-size: 16px;
  border-radius: 6px;
  padding: 0;
  color: #50a3ff; 
  /*@include shadow; /**/
  .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.2s;
    animation: fadeIn 0.2s
  }
}

.footnote-popup {    
  width: 160px;
  bottom: 125%;
  padding: 8px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px; 
  box-shadow: var(--shadow-floating-small, var(--color-overlay-shadow, 0 2px 8px rgba(31, 35, 40, 0.2), 0 16px 48px rgba(66, 74, 83, 0.2)));            
}

.footnote-popup::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.serv-btn {  
  margin: 5px;
  font-size: 16px;
  border-radius: 6px; 
  padding: 5px 8px; 
  color: #7294bb; 
  border: 1px solid #7294bb;       
  .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.2s;
    animation: fadeIn 0.2s
  }
}

.serv-popup {   
  min-width: 320px; 
  min-height: 150px; 
  bottom: 125%;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  box-shadow: var(--shadow-floating-small, var(--color-overlay-shadow, 0 2px 8px rgba(31, 35, 40, 0.2), 0 16px 48px rgba(66, 74, 83, 0.2))); 
  @media screen and (max-width: 385px) {     
    min-width: 220px;         
  }            
}

.serv-popup::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* serv content */
.serv-pop-content {
  &__inner {
    display: flex; 
    flex-direction: row;
    align-items: center; 
    @media screen and (max-width: 385px) {     
      flex-direction: column;
      align-items: flex-start;        
    }
  }

  &__circle {
    position: relative;
    width: 100px; /* 150px; */
    height: 100px; /* 150px; */
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
    flex-shrink: 0; /* Prevent container from shrinking */
  }

  &__circle::after {
    content: "";
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: #f5f5f5;
    border-radius: 50%;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.8);
  }

  &__sector {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    clip: rect(0px, 50px, 100px, 0px); /* убираем лишнюю ширину */
    /*clip: rect(0px, 75px, 150px, 0px);*/
  }

  .safari {
    background-color: #aaaaaa;
    transform: rotate(-20deg);
  }

  .ie {
    background-color: #0074d9;
    transform: rotate(160deg);
  }

  .firefox {
    background-color: #ff851b;
    transform: rotate(20deg);
  }

  .chrome {
    background-color: #2ecc40;
    transform: rotate(100deg);
  }

  &__items {
    margin-left: 0; /* Adjust as needed */
    flex-grow: 1; /* Allow stats to grow and take remaining space */
    text-align: left;
  }

  &__item {
    position: relative;
    margin: 10px 0;
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -25px;
    width: 15px;
    height: 15px;
    background-color: #aaaaaa;
  }

  &__item:first-child::before {
    background-color: #2ecc40;
  }

  &__item:nth-child(2)::before {
    background-color: #ff851b;
  }

  &__item:nth-child(3)::before {
    background-color: #0074d9;
  }

}


.more-btn { 
  display: block;
  margin: 5px;
  font-size: 16px;
  border-radius: 6px;
  padding: 5px 8px;
  border: 1px solid gray;
  color: gray;     
  .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.2s;
    animation: fadeIn 0.2s
  }
}

.more-popup {    
  width: 160px;
  bottom: 125%;
  padding: 8px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px; 
  box-shadow: var(--shadow-floating-small, var(--color-overlay-shadow, 0 2px 8px rgba(31, 35, 40, 0.2), 0 16px 48px rgba(66, 74, 83, 0.2)));            
}

.more-popup::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.processes-btn {
  display: block;
  margin: 5px;
  font-size: 16px;
  border-radius: 6px; 
  padding: 5px 8px;
  border: 1px solid #eb4326;
  color: #eb4326; 
  .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.2s;
    animation: fadeIn 0.2s
  }
}

.processes-popup {
  width: 220px;
  top: 125%;
  padding: 8px;
  color: #404040;
  text-align: center;
  border-radius: 3px;               
  background-color: #ffffff;  
  box-shadow: var(--shadow-floating-small, var(--color-overlay-shadow, 0 2px 8px rgba(31, 35, 40, 0.2), 0 16px 48px rgba(66, 74, 83, 0.2)));
}

.processes-popup::after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #f1f1f1 transparent;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
} 

