/* https://swiperjs.com/demos - Slides per view */
.swiper {
  width: 100%;
  height: auto; 
}

.swiper-slide {  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
  background: ''; 
  color: #fff; 
}

.swiper-slide img {  
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
/**/

/* custom */
.container-swiperNews {
  max-width: $container_width;     
  margin: 0 auto;   
  padding: 0 15px;  
}

@media screen and (max-width: 370px) {
  .container-swiperNews {
    padding: 0;
  }
}

.relative-box {
  position: relative; 
}


.news-slide {
  padding-top: 30px; 
  padding-bottom: 30px;
  background: ''; /* #eee; */
  
  &__img:hover { 
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s ease;
  } 

  &__link {
    position: absolute;
    bottom: 8px;
    right: 0;
    min-width: 170px;
    padding: 7px;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    background: $elements-style_color;
    color: #fff;
  }

  &__link:hover {
    background: rgba(0, 0, 0, 0.7); 
    transition: 0.4s;     
  }

  @media screen and (max-width: $mobile-big_end-point) { 
    &__link {       
    font-size: 1.2rem;      
    } 
  }

  &__text {
    font-size: 16px;
  }

  &__subtitle {
    display: block;
    margin-top: 7px;   
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: wrap;  /*word-break: break-all;*/
    color: #535353;
  }

  &__description {
    display: block;
    margin-top: 0;   
    padding: 7px;
    font-size: 1em;
    font-weight: 400; /* 500 */
    word-wrap: wrap;  /*word-break: break-all;*/
    text-align: left;
    color: #535353;
    
  }
}

.news-slide {
  @media screen and (min-width: 320px) {
    &__subtitle {    
      min-height: calc(1em * 7); 
    } 
    &__description {    
      min-height: calc(1em * 9);
    } 
  }

  @media screen and (min-width: 480px) {
    &__subtitle {    
      min-height: calc(1em * 6); 
    } 
    &__description {    
      min-height: calc(1em * 11);
    } 
  }

  @media screen and (min-width: 640px) {
    &__subtitle {    
      min-height: calc(1em * 5); 
    } 
    &__description {  
      min-height: calc(1em * 9);
    } 
  }

  @media screen and (min-width: 867px) {
    &__subtitle {    
      min-height: calc(1em * 5); 
    } 
    &__description {    
      min-height: calc(1em * 9);
    }
  }

  @media screen and (min-width: 1100px) { 
    &__subtitle {  
      font-size: 1.2em;  
      min-height: calc(1em * 6); 
    } 
    &__description {    
      min-height: calc(1em * 8);
    }
  }
}


/*** layer, news-modal ***/
.news-modal {
  &__image-box {
    display: none;		    
    position: relative;
    top: 0;
    right: 0;		  
    left: 0;
    bottom: 0px; 	
    max-width: calc(100% - 10px);      
    margin: auto;       
    z-index: 2;   
  
    opacity: 0;
    animation: news-anim 0.5s forwards;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    @media screen and (orientation: landscape) {       
      max-width: calc(78%); 
      margin: auto;   
    } 
    @media screen and (min-width: 955px) {  
      max-width: 720px;              
    }	
  }

  &__image {    
    display: block;
    max-width: 100%; 
    max-height: calc(100vh - 10px);  
    margin: auto;
    /*border: 1px solid rgba(0, 0, 0, 0.4);*/
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.3);   
	
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);	 	 	 	
  }

  &__layer {
    display: none;
    align-items: center;
    position: fixed; 
    top: 0;
    left: 0;   
    right: 0;
    bottom: 0;		    
    /*background: rgba(256, 256, 256, 0.8);*/
    background: rgba(0, 0, 0, 0.7);   
    z-index: 200;	      
    overflow-x: hidden;
    cursor: pointer;  	
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);   
  }


  &__icon-loading {
    position: absolute;
    top: 0; 
    left: 0;  
    right: 0;
    bottom: 0; 
    width: 60px;
    margin: auto;
    padding: 5px; 
    border-radius: 5px;
    background: #ffffff; 
  }

  /*** close icon ***/
  &__close {
    display: inline-block;
    position: absolute;	
    top: calc(-50px );
    right: calc(0px);	
    font-size: 37px;	
    color: #ececec;
    z-index: 3;
    transition: 0.2s;        
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
    @media screen and (orientation: landscape) {    
      content: "\f057";
      position: absolute;
      top: calc(0px);
      right: calc(-50px);
      font-size: 37px;
      /*font-weight: bold;*/    
    }
  }
	  
  &__close:hover,
  &__close:focus {         
    text-decoration: none;
    cursor: pointer;
    color: silver; 	  
  }
}

@keyframes news-anim {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.news-view {
  display: flex;
  cursor: pointer;
  animation: news-layerView forwards;
}
@keyframes news-layerView {
  0% {opacity: 0;}
  100% {opacity: 1;}   
}

.news-hidden {
  display: flex;
  cursor: pointer;
  animation: news-layerHidden forwards;
}
@keyframes news-layerHidden {
  0% {opacity: 1;}
  100% {opacity: 0;}   
}

.news-filters {
  /*filter: blur(2px);*/
  /*filter: grayscale(100%); /* changes color to black and white */	
}


	  
@media screen and (orientation: landscape) {
  /* TODO - for inscription Close */
  /*
  .news-modal__close::before {
  
    content: "Close";
    position: absolute; 
    font-size: 1rem;
    font-weight: bold;
    top: calc(-5px);
    right: calc(37px);
     
  }*/
 
  /* TODO - for the "cross in a square" icon (or class="fas fa-window-close") */
  /*
  .news-modal__close::before {
  
    content: "\f410";
    position: absolute; 
    font-size: 37px;
    /*font-weight: bold; /* add for fat
    top: calc(-20px);
    right: calc(37px);
     
  }
  */
  
  /* TODO - for the "cross" icon */
  /*
  .news-modal__close::before {
  
    content: "\f00d";
    position: absolute; 
    font-size: 37px;
    font-weight: bold; /* does not work without bold 
    top: calc(-10px);
    right: calc(-37px);
     
  }
  */
  
  /* TODO - for &times; between tags */
  /*
  .news-modal__close {
    
    position: absolute; 
    font-size: 37px;    
    top: calc(-10px);
    right: calc(-40px);
     
  }
  */
  /*
  .news-modal__close {
    content: "\f057";
    position: absolute;
    top: calc(0px);
    right: calc(-50px);
    font-size: 37px;
    /*font-weight: bold;
  }
  */
    
}	


