#footerSocial {
  display: none; /**/
}
#footerLogo {
  /*display: none; /**/
}

#languages {
  display: none; /**/
}

#headerSocials  {
  display: none; /**/
}

#messengersBtn {
  display: none; /**/
}

#chatBtn {
  /*display: none; /**/
}

#support {
  display: none; /**/
}

#cookies {
  /*display: none; /**/
}

#banner {
  display: none; /**/
}

#t-carousel {
  display: none; /**/
}

#tilePreview {
  display: none; /**/
}
#sliderSwiperNews {
  /*display: none; /**/
}

#sliderSwiperLatest {
  /*display: none; /**/
}

/* or */
.js-popup.more,
.js-popup.details {
  /*display: none; /**/
}

/* or 
.js-popup {
  display: none !important; /*
}
*/

.btn-one,
.btn-two,
.btn-three {
  /*display: none; /**/
}

#acc1,
#acc2 {
  display: none; /**/
}



