<!--
<div id="acc1">
  <button class="accordion about__accordion">Section 1</button>
  <div class="panel about__panel">
    <p>Interested in “developing” your developer skills? In W3Cx’s hands-on Professional 
       Certificate Program, learn how to code the right way by creating Web sites and apps that 
       use the latest Web standards.
       Interested in “developing” your developer skills? In W3Cx’s hands-on Professional 
       Certificate Program, learn how to code the right way by creating Web sites 
       and apps that use the latest Web standards.
    </p>
  </div>

  <button class="accordion about__accordion">Section 2</button>
  <div class="panel about__panel">
    <p>Interested in “developing” your developer skills? In W3Cx’s hands-on Professional 
       Certificate Program, learn how to code the right way by creating Web sites and apps 
       that use the latest Web standards.
    </p>
  </div>

  <button class="accordion about__accordion">Section 3</button>
  <div class="panel about__panel">
    <p>Interested in “developing” your developer skills? In W3Cx’s hands-on Professional
       Certificate Program, learn how to code the right way by creating Web sites and apps 
       that use the latest Web standards.
    </p>
  </div>            
</div>
-->

<!--
<div id="acc2">
  <button class="accordion news__accordion">Section 1</button>
  <div class="panel news__panel">
    <p>Interested in “developing” your developer skills? In W3Cx’s hands-on Professional 
       Certificate Program, learn how to code the right way by creating Web sites and apps 
       that use the latest Web standards.
    </p>
  </div>

  <button class="accordion news__accordion">Section 2</button>
  <div class="panel news__panel">
    <p>Interested in “developing” your developer skills? In W3Cx’s hands-on Professional 
       Certificate Program, learn how to code the right way by creating Web sites and apps 
       that use the latest Web standards.
    </p>
  </div>

  <button class="accordion news__accordion">Section 3</button>
  <div class="panel news__panel">
    <p>Interested in “developing” your developer skills? In W3Cx’s hands-on Professional 
       Certificate Program, learn how to code the right way by creating Web sites and apps 
       that use the latest Web standards.
    </p>
  </div>           
</div>
-->

<div id="acc3">
  <button class="accordion other__accordion">"Welche spezifischen Dienstleistungen bieten Sie an?"</button>
  <div class="panel other__panel">
    <p>Unsere Beratungsfirma bietet eine breite Palette von Dienstleistungen an, darunter 
       strategische Planung, Prozessoptimierung, Geschäftsstrategieentwicklung, 
       Mitarbeiterschulungen und Datenanalyse.
    </p>
  </div>

  <button class="accordion other__accordion">"Welche Erfahrung und Expertise 
          haben Ihre Berater in unserer Branche?"
  </button>
  <div class="panel other__panel">
    <p>Unsere Berater verfügen über umfangreiche Erfahrung in verschiedenen Branchen, 
       was es uns ermöglicht, unseren Kunden qualitativ hochwertige Lösungen anzubieten, 
       die ihren spezifischen Bedürfnissen und Herausforderungen entsprechen.
    </p>
  </div>

  <button class="accordion other__accordion">"Welche Ergebnisse haben Sie bereits für 
          andere Kunden erzielt?"
  </button>
  <div class="panel other__panel">
    <p>Wir sind stolz auf unsere Erfolge bei der Lösung komplexer Aufgaben für Kunden: 
       Von der Umsatzsteigerung bis zur Optimierung von Arbeitsabläufen bringen unsere 
       innovativen Ansätze echte Ergebnisse.
    </p>
  </div>            
</div>

