<div id="basket">Корзина:
  <p><span id="basket-items"></span></p>
  <button id="delete">Очистить</button>
</div>

<div id="cards-box" class="cards-box">

  <div class="cards-box__card card">
    <div class="card__image-box">
      <img class="card__image" src="img/preview/consult-1.webp" alt="image 1">
    </div>
    <p class="card__name">Name: <span class="card__span-name">Item 1</span></p>
    <p class="card__price">Price: <span class="card__span-price">500</span></p>    
    <button class="card__button">Add to cart</button>
  </div>

  <div class="cards-box__card card">
    <div class="card__image-box">
      <img class="card__image" src="img/preview/consult-2.webp" alt="image 2">
    </div>
    <p class="card__name">Name: <span class="card__span-name">Item 2</span></p>
    <p class="card__price">Price: <span class="card__span-price">100</span></p>    
    <button class="card__button">Add to cart</button>
  </div>  

  <div class="cards-box__card card">
    <div class="card__image-box">
      <img class="card__image" src="img/preview/consult-3.webp" alt="image 3">
    </div>
    <p class="card__name">Name: <span class="card__span-name">Item 3</span></p>
    <p class="card__price">Price: <span class="card__span-price">200</span></p>    
    <button class="card__button">Add to cart</button>
  </div>
  
</div>
 
