<div id="cookies" class="cookies">
  <div class="container">
    <div class="cookies__inner">
      <div class="container">
        <p class="cookies__text">We use cookies to provide statistics that help us improve the customization of our services and offerings. You can read more information about cookies or changing your browser settings. By continuing to use without changing your settings, you agree to our use of cookies.</p>
        <div class="cookies__btns">
          <button class="cookies-agree">i agree</button>
          <button class="cookies-reject">reject</button>
        </div>
      </div>
    </div>
  </div>
</div>
