<!-- pop-up -->
<div id="lightbox" class="lightbox">
  <div class="lightbox__layer">
   
    <div class="lightbox__modal lightbox__modal--form">
      <span class="lightbox__close lightbox__close--form far fa-times-circle"></span>
      @@include('../section/contacts.html', {})        
    </div>  
          
    <div class="lightbox__modal lightbox__modal--style_background">
    <span class="lightbox__close lightbox__close--style_color far fa-times-circle"></span>

      <div class="mode__links-box links-box testing">
        <div class="container">
          <h3 class="testing__title">Call Us</h3> 
          <p class="info-box__text">
            <a class="links-box__phone-link" href=""> +012 345 67 89</a>
            <br>
            <a class="links-box__phone-link" href=""> +012 345 67 89</a>
          </p>
        </div>
      </div>

    </div>   

    <div class="lightbox__modal lightbox__modal--style_color">
    <span class="lightbox__close far fa-times-circle"></span>

      <div class="test">        
        <h3 class="test__title">Call Us</h3> 
        <p class="test__text">Dnfce7956gmh356gv783n gm83653nv60388u65u35n
          <a class="" href=""> +012 345 67 89</a><br>         
          <a class="" href=""> +012 345 67 89</a>
        </p>        
      </div>

    </div>   

    <div class="lightbox__modal">
    <span class="lightbox__close lightbox__close--style_bg far fa-times-circle"></span>

      <img class="lightbox__image" src="img/news-3.png" alt="photo">

    </div>

             
  </div><!--lightbox__layer-->
</div><!--lightbox-->
