<!-- btns -->
<div id="btns" class="btns">
  <button class="btns__btn btn-strategy js-lightbox">
    <i class="btns__icon fas fa-chess-knight"></i>
    <span class="btns__name">strategy</span>
  </button> 
  <button class="btns__btn btn-invest js-lightbox">
    <i class="btns__icon fas fa-money-check-alt"></i>
    <span class="btns__name">invest</span>
  </button> 
  <button class="btns__btn btn-contracts js-lightbox">
    <i class="btns__icon far fa-regular fa-handshake"></i>
    <span class="btns__name">contracts</span>
  </button>                          
</div>

<!-- lightbox -->
<div id="lightbox" class="lightbox">
  <div class="lightbox__layer">
   
    <div class="lightbox__modal lightbox__modal--form">
      <span class="lightbox__close lightbox__close--form far fa-times-circle"></span>
      @@include('../section/contacts.html', {})        
    </div>  
          
    <div class="lightbox__modal lightbox__modal--srategy">
    <span class="lightbox__close lightbox__close--srategy far fa-times-circle"></span>

      <div class="srategy">
        <div class="container">
          <h3 class="srategy__title">Unsere Strategie:</h3> 
          <p class="srategy__text">
            Wir entwickeln maßgeschneiderte Lösungen, die den Bedürfnissen Ihres 
            Unternehmens entsprechen.<br> 
            Basierend auf einer tiefgehenden Marktanalyse bieten wir innovative Ansätze 
            für nachhaltiges Wachstum.<br> 
            Unsere Experten nutzen bewährte Methoden und modernste Technologien, um maximale 
            Effizienz zu gewährleisten.<br> 
            Wir begleiten Sie in allen Phasen der Strategieumsetzung, von der Planung 
            bis zur Implementierung.<br> 
            Vertrauen Sie den Profis, und Ihr Unternehmen wird neue Höhen erreichen!
          </p>
        </div>
      </div>

    </div>   

    <div class="lightbox__modal lightbox__modal--invest">
    <span class="lightbox__close lightbox__close--invest far fa-times-circle"></span>

      <div class="invest">        
        <h3 class="invest__title">Investieren Sie in Ihre Zukunft:</h3> 
        <p class="invest__text">
           Wir bieten maßgeschneiderte Anlagestrategien, die auf Ihre 
           finanziellen Ziele abgestimmt sind.<br> Vertrauen Sie auf unsere Expertise 
           und fundierte Marktanalysen, um das Beste aus Ihren Investitionen herauszuholen.
        </p>        
      </div>

    </div>   

    <div class="lightbox__modal lightbox__modal--contracts">
    <span class="lightbox__close lightbox__close--contracts far fa-times-circle"></span>

      <img class="lightbox__image" src="img/top-consult.jpg" alt="photo">

    </div>

             
  </div><!--lightbox__layer-->
</div><!--lightbox-->
