<div id="messengersBtn" class="messengers-btn">
  <!--<span class="messengers-box__base-icon fab fa-facebook-messenger blind-click"></span>-->
    <img class="messengers-btn__base-icon" src="icon/chat.png" alt="icon">          
  <a class="messengers-btn__link first" href="">
    <span class="messengers-btn__icon fab fa-viber"></span>             
  </a>
                   
  <a class="messengers-btn__link second" href="">
    <span class="messengers-btn__icon fab fa-telegram-plane"></span> 
  </a>
                    
  <a class="messengers-btn__link third" href="">
    <span class="messengers-btn__icon fab fa-facebook-messenger"></span>
  </a>
        
  <a class="messengers-btn__link fourth" href="">
    <span class="messengers-btn__icon fa fa-phone-alt"></span>
  </a>       
</div>
