<!--
<button class="js-popup">
  <i class="pop-icons pop-icons--footnote fas fa-question-circle"></i>
  <span class="popup footnote-popup">Popup 4... asergvtrvgtr</span>
</button>
-->

<div class="js-popup" role="button" tabindex="0">
  <i class="pop-icons pop-icons--serv fas fa-wrench">
    <span class="pop-span pop-span--serv">Unsere Dienstleistungen</span>
  </i>
  <div class="popup serv-popup serv-pop-content">

    <div class="serv-pop-content__inner">
       <div class="serv-pop-content__circle">
         <span class="serv-pop-content__sector safari"></span>
         <span class="serv-pop-content__sector ie"></span>
         <span class="serv-pop-content__sector firefox"></span>
         <span class="serv-pop-content__sector chrome"></span>
       </div>                      
       <ul class="serv-pop-content__items">
         <li class="serv-pop-content__item">Chrome</li>
         <li class="serv-pop-content__item">Firefox</li>
         <li class="serv-pop-content__item">Internet Explorer</li>
         <li class="serv-pop-content__item">Safari</li>
       </ul>                                             
    </div>
                 
  </div>
</div>        

<button class="js-popup">
  <i class="pop-icons pop-icons--more fas fa-info-circle">
    <span class="pop-span pop-span--more">Information</span>
  </i>
  <span class="popup more-popup">Popup 3... asergvtrvgtr</span>
</button>            

<button class="js-popup">
  <i class="pop-icons pop-icons--processes far fa-sticky-note">
    <span class="pop-span pop-span--processes">Arbeitsablauf</span>
  </i>
  <span class="popup processes-popup">Popup 2...</span>
</button>             
               
