<!--
<button class="js-popup">
  <i class="pop-icons pop-icons--footnote fas fa-question-circle"></i>
  <span class="popup footnote-popup">Popup 4... asergvtrvgtr</span>
</button>
-->

<div class="js-popup" role="button" tabindex="0">
  <i class="pop-icons pop-icons--serv fas fa-wrench">
    <span class="pop-span pop-span--serv">Unsere Dienstleistungen</span>
  </i>
  <div class="popup serv-popup serv-pop-content">

    <div class="serv-pop-content__inner">
       <div class="serv-pop-content__circle">
         <span class="serv-pop-content__sector europe"></span>
         <span class="serv-pop-content__sector usa"></span>
         <span class="serv-pop-content__sector indonesia"></span>
         <span class="serv-pop-content__sector philippines

"></span>
       </div>                      
       <ul class="serv-pop-content__items">
         <li class="serv-pop-content__item">Länder Europas</li>
         <li class="serv-pop-content__item">Nordamerika</li>
         <li class="serv-pop-content__item">Indonesien</li>
         <li class="serv-pop-content__item">Philippinen</li>
       </ul>                                             
    </div>
                 
  </div>
</div>        

<button class="js-popup">
  <i class="pop-icons pop-icons--more fas fa-info-circle">
    <span class="pop-span pop-span--more">Information</span>
  </i>
  <span class="popup more-popup">Popup 3... Information</span>
</button>            

<button class="js-popup">
  <i class="pop-icons pop-icons--processes far fa-sticky-note">
    <span class="pop-span pop-span--processes">Arbeitsablauf</span>
  </i>
  <span class="popup processes-popup">Popup 2...Arbeitsablauf</span>
</button>             
               
