<!-- Swiper -->
  <div id="sliderSwiperNews" class="swiper news__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide news-slide">
        <div class="relative-box">
          <img class="news-slide__img" src="img/preview/consult-1.webp" alt="photo">
          <!--<a class="news-slide__link" href="">Читати більше</a>-->
        </div>  
        <!--
        <div class="news-slide__text">
          <span class="news-slide__subtitle">Корисні поради з обслуговування та 
                ремонту будівельної техніки</span>
          <span class="news-slide__description">Будівельна техніка є невід'ємною
                частиною будівельних проєктів і вимагає ретельного обслуговування та своєчасного 
                ремонту для...</span>
        </div>
        -->
      </div>
      <div class="swiper-slide news-slide">        
        <div class="relative-box">
          <img class="news-slide__img" src="img/preview/consult-2.webp" alt="photo">
          <!--<a class="news-slide__link" href="">Читати більше</a>-->
        </div>
        <!--
        <div class="news-slide__text">
          <span class="news-slide__subtitle">Своєчасне ТО: запорука надійної та 
                довготривалої роботи</span>
          <span class="news-slide__description">Сучасний темп життя вимагає від нас
                постійного розвитку та адаптації, особливо, коли йдеться 
                про технічні новації та обладнання. У світі, де...</span>
        </div>
        -->
      </div>
      <div class="swiper-slide news-slide">
        <div class="relative-box">
          <img class="news-slide__img" src="img/preview/consult-3.webp" alt="photo">
          <!--<a class="news-slide__link" href="">Читати більше</a>-->
        </div>
        <!--
        <div class="news-slide__text">
          <span class="news-slide__subtitle">Корисні поради з обслуговування та ремонту 
                будівельної техніки</span>
          <span class="news-slide__description">Будівельна техніка є невід'ємною 
                частиною будівельних проєктів і вимагає ретельного обслуговування 
                та своєчасного ремонту для...</span>
        </div>
        -->
      </div>
    </div>
    
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    
    <div class="swiper-pagination"></div>
  </div>


<!-- TODO - news-modal -->
<div id="news-modal" class="news-modal">
  <div class="news-modal__layer">
    <!--<img class="news-modal__icon-loading" src="icon/loading.gif" alt="load">-->   
    <div class="news-modal__image-box">
      <span class="news-modal__close far fa-times-circle"></span>
      <img class="news-modal__image" src="img/consult-1.jpg" alt="photo">
    </div>  
          
    <div class="news-modal__image-box">
      <span class="news-modal__close far fa-times-circle"></span>
      <img class="news-modal__image" src="img/consult-2.jpg" alt="photo">
    </div>   
          
    <div class="news-modal__image-box">
      <span class="news-modal__close far fa-times-circle"></span>
      <img class="news-modal__image" src="img/consult-3.jpg" alt="photo">
    </div>
  </div>
</div>

