<!-- Swiper -->
  <div id="sliderSwiperLatest" class="swiper latest__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide latest-slide">
        <img class="latest-slide__img" src="img/preview/tools-1.webp" alt="photo">
        <div class="latest-slide__text">
          <span class="latest-slide__subtitle">Акумуляторний гайковерт TORTUL KPA-1639E</span>
          <span class="latest-slide__description">Цей гайковерт має потужний акумулятор, 
                що забезпечує високу продуктивність при виконанні будівельних та ремонтних робіт.</span>
          <a class="latest-slide__preview-link" href="">Купити</a>
        </div>
      </div>
      <div class="swiper-slide latest-slide">        
        <img class="latest-slide__img" src="img/preview/tools-2.webp" alt="photo">
        <div class="latest-slide__text">
          <span class="latest-slide__subtitle">Шуруповерт пневматичний Mini Butterfly TORTUL KSAU0808</span>
          <span class="latest-slide__description">Цей шуруповерт володіє легким та компактним корпусом, а також    
                потужністю, що забезпечує тривалий час автономної роботи.</span>
          <a class="latest-slide__preview-link" href="">Купити</a>
        </div>
      </div>
      <div class="swiper-slide latest-slide">
        <img class="latest-slide__img" src="img/preview/tools-3.webp" alt="photo">
        <div class="latest-slide__text">
          <span class="latest-slide__subtitle">Паяльник газовий 150W з комплектом насадок 8&nbsp;од. TOPTUL EGAE0801</span>
          <span class="latest-slide__description">Легкий газовий паяльник призначений для виконання паяння, 
                плавки, різання термочутливих матеріалів, видалення фарби з невеликих поверхонь.</span>
          <a class="latest-slide__preview-link" href="">Купити</a>
        </div>
      </div>
      <div class="swiper-slide latest-slide">
        <img class="latest-slide__img" src="img/preview/tools-2.webp" alt="photo">
        <div class="latest-slide__text">
          <span class="latest-slide__subtitle">Шуруповерт пневматичний Mini Butterfly TORTUL KSAU0808</span>
          <span class="latest-slide__description">Цей шуруповерт володіє легким та компактним корпусом, а також    
                потужністю, що забезпечує тривалий час автономної роботи.</span>
          <a class="latest-slide__preview-link" href="">Купити</a>
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

<!-- TODO - latest-modal -->
<div id="latestModal" class="latest-modal">
  <div class="latest-modal__layer">
    <!--<img class="latest-modal__icon-loading" src="icon/loading.gif" alt="load">-->   
    <div class="latest-modal__image-box">
      <span class="latest-modal__close far fa-times-circle"></span>
      <img class="latest-modal__image" src="img/tools-1.png" alt="photo">
    </div>  
          
    <div class="latest-modal__image-box">
      <span class="latest-modal__close far fa-times-circle"></span>
      <img class="latest-modal__image" src="img/tools-2.png" alt="photo">
    </div>   
          
    <div class="latest-modal__image-box">
      <span class="latest-modal__close far fa-times-circle"></span>
      <img class="latest-modal__image" src="img/tools-3.png" alt="photo">
    </div>
    <div class="latest-modal__image-box">
      <span class="latest-modal__close far fa-times-circle"></span>
      <img class="latest-modal__image" src="img/tools-2.png" alt="photo">
    </div>
  </div>
</div>
