<!-- tile-lightbox -->
<div id="tileLightbox" class="tile-modal">
  <div class="tile-modal__layer">   
    <div class="tile-modal__image-box">
      <span class="tile-modal__close far fa-times-circle"></span>
      <img class="tile-modal__image" src="img/team-bg.jpg" alt="photo">
    </div>  
          
    <div class="tile-modal__image-box">
      <span class="tile-modal__close far fa-times-circle"></span>
      <img class="tile-modal__image" src="img/team-1.jpg" alt="photo">
    </div>   
          
    <div class="tile-modal__image-box">
      <span class="tile-modal__close far fa-times-circle"></span>
      <img class="tile-modal__image" src="img/team-3.jpg" alt="photo">
    </div>
          
    <div class="tile-modal__image-box">
      <span class="tile-modal__close far fa-times-circle"></span>
      <img class="tile-modal__image" src="img/team-2.jpg" alt="photo">
    </div>
    
    <div class="tile-modal__image-box">
      <span class="tile-modal__close far fa-times-circle"></span>
      <img class="tile-modal__image" src="img/team-4.jpg" alt="photo">
    </div>  
          
    <div class="tile-modal__image-box">
      <span class="tile-modal__close far fa-times-circle"></span>
      <img class="tile-modal__image" src="img/consult-3.jpg" alt="photo">
    </div>   
          
    <div class="tile-modal__image-box">
      <span class="tile-modal__close far fa-times-circle"></span>
      <img class="tile-modal__image" src="img/consult-1.jpg" alt="photo">
    </div>
          
    <div class="tile-modal__image-box">
      <span class="tile-modal__close far fa-times-circle"></span>
      <img class="tile-modal__image" src="img/consult-2.jpg" alt="photo">
    </div>
  </div>
</div>
