<!-- module tile-preview --> 
<div id="tilePreview" class="tile-preview for-effects">           
  <div class="tile-preview__container">         
          
    <div class="tile-preview__container-left">                                                         
      <div class="tile-preview__img-box">                           
        <img class="tile-preview__img" src="img/preview/team-bg.webp" alt="colored cube">           
      </div>                           
      <div class="tile-preview__img-box">                          
        <img class="tile-preview__img" src="img/preview/team-1.webp" alt="colored cube">        
      </div>                                                                                                       
    </div> 
            
    <div class="tile-preview__container-right">                                                                 
      <div class="tile-preview__img-box">                         
        <img class="tile-preview__img" src="img/preview/team-3.webp" alt="colored cube">              
      </div>                         
      <div class="tile-preview__img-box">                          
        <img class="tile-preview__img" src="img/preview/team-2.webp" alt="colored cube">              
      </div>                                                                                                       
    </div>                                                                                       
            
  </div>
    
  <div class="tile-preview__container">         
          
    <div class="tile-preview__container-left">                                                         
      <div class="tile-preview__img-box">                           
        <img class="tile-preview__img" src="img/preview/team-4.webp" alt="colored cube">           
      </div>                           
      <div class="tile-preview__img-box">                          
        <img class="tile-preview__img" src="img/preview/consult-3.webp" alt="colored cube">        
      </div>                                                                                                       
    </div> 
            
    <div class="tile-preview__container-right">                                                               
      <div class="tile-preview__img-box">                         
        <img class="tile-preview__img" src="img/preview/consult-1.webp" alt="colored cube">              
      </div>                         
      <div class="tile-preview__img-box">                          
        <img class="tile-preview__img" src="img/preview/consult-2.webp" alt="colored cube">              
      </div>                                                                                                       
    </div>                                                                                       
            
  </div>                                  
</div><!-- tile-preview -->
<!-- module tile-preview -->


<!-- tile-lightbox -->
<div id="tileLightbox" class="tile-modal">
  <div class="tile-modal__layer">   
    <div class="tile-modal__image-box">
      <span class="tile-modal__close far fa-times-circle"></span>
      <img class="tile-modal__image" src="img/team-bg.jpg" alt="photo">
    </div>  
          
    <div class="tile-modal__image-box">
      <span class="tile-modal__close far fa-times-circle"></span>
      <img class="tile-modal__image" src="img/team-1.jpg" alt="photo">
    </div>   
          
    <div class="tile-modal__image-box">
      <span class="tile-modal__close far fa-times-circle"></span>
      <img class="tile-modal__image" src="img/team-3.jpg" alt="photo">
    </div>
          
    <div class="tile-modal__image-box">
      <span class="tile-modal__close far fa-times-circle"></span>
      <img class="tile-modal__image" src="img/team-2.jpg" alt="photo">
    </div>
    
    <div class="tile-modal__image-box">
      <span class="tile-modal__close far fa-times-circle"></span>
      <img class="tile-modal__image" src="img/team-4.jpg" alt="photo">
    </div>  
          
    <div class="tile-modal__image-box">
      <span class="tile-modal__close far fa-times-circle"></span>
      <img class="tile-modal__image" src="img/consult-3.jpg" alt="photo">
    </div>   
          
    <div class="tile-modal__image-box">
      <span class="tile-modal__close far fa-times-circle"></span>
      <img class="tile-modal__image" src="img/consult-1.jpg" alt="photo">
    </div>
          
    <div class="tile-modal__image-box">
      <span class="tile-modal__close far fa-times-circle"></span>
      <img class="tile-modal__image" src="img/consult-2.jpg" alt="photo">
    </div>
  </div>
</div>
