<!-- tile-lightbox -->
<div id="tileLightbox" class="tile-modal">
  <div class="tile-modal__layer">   
    <div class="tile-modal__image-box">
      <span class="tile-modal__close far fa-times-circle"></span>
      <img class="tile-modal__image" src="img/news-1.png" alt="photo">
    </div>  
          
    <div class="tile-modal__image-box">
      <span class="tile-modal__close far fa-times-circle"></span>
      <img class="tile-modal__image" src="img/news-2.png" alt="photo">
    </div>   
          
    <div class="tile-modal__image-box">
      <span class="tile-modal__close far fa-times-circle"></span>
      <img class="tile-modal__image" src="img/news-3.png" alt="photo">
    </div>
          
    <div class="tile-modal__image-box">
      <span class="tile-modal__close far fa-times-circle"></span>
      <img class="tile-modal__image" src="img/tools-2.png" alt="photo">
    </div>
    
    <div class="tile-modal__image-box">
      <span class="tile-modal__close far fa-times-circle"></span>
      <img class="tile-lightbox__image" src="img/news-3.png" alt="photo">
    </div>  
          
    <div class="tile-modal__image-box">
      <span class="tile-modal__close far fa-times-circle"></span>
      <img class="tile-modal__image" src="img/news-2.png" alt="photo">
    </div>   
          
    <div class="tile-modal__image-box">
      <span class="tile-modal__close far fa-times-circle"></span>
      <img class="tile-modal__image" src="img/news-1.png" alt="photo">
    </div>
          
    <div class="tile-modal__image-box">
      <span class="tile-modal__close far fa-times-circle"></span>
      <img class="tile-modal__image" src="img/tools-1.png" alt="photo">
    </div>
  </div>
</div>
